*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.inicio{
    width: 100%;
    height: 100vh;
    background:url(./multimedia/video-inicio.gif) no-repeat;
    display: flex;
    flex-direction: column;
    background-size: cover;
}
@font-face {
    font-family:"starwars";
    src: url(./fuentes/SF\ Distant\ Galaxy\ Alternate.ttf)
}
@font-face{
    font-family: "adorable";
    src: url(./fuentes/Super\ Adorable.ttf);
}
.navegador{
    display:flex;
}
.titulo1{
    font-family: starwars;
    font-size: 6rem;
    width: 40%;
    padding-top:1vh;
    padding-left: 5vh;
    color: black;
    text-shadow: 5px 5px 0 yellow;
}
.navbar a{
    font-size: 1.7rem;
    color: white;
}

.navbar{
    display: flex;
    width: 70%;
    height: 30%;
    gap: 2vh;
    padding: 2vh;
    margin-top: 5vh;
    margin-left:8vh;
    background-color: black;
    border-radius:50px;
    border: 2px solid white;
    justify-content: space-around;
    align-items: center;
}
.personajes, .planetas,.series{
    width: 100%;
    height: 100vh;
    background: url(./multimedia/fondo-juegos.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.juegos{
    width: 100%;
    height: 140vh;
    background: url(./multimedia/fondo-juegos.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.juegos .sub{
    margin-top: 20vh;
}
.sub{
    text-align: end;
    padding: 2vh;
    font-family: "starwars";
    color: white;
    text-shadow: 5px 5px 0 fuchsia;
    letter-spacing: 5px;
    font-size:1.5rem ;
}
.buscar{
    margin-left: 69%;
    border-radius: 10px;
    width: 30vw;
    padding: 1.5vh;
}
 .box-container{
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    align-items: center;
    height: 80vh;
}
.box{
    border: 4px solid white;
}
.box img{
    padding: 2vh;
}

.planetas h2{
    color: black;
    text-shadow: -1px -1px 0 yellow;
    font-size:2rem ;
    font-family: "starwars";
    padding-left: 5vh;
}
.contenido-p img,.contenido-n img{
    width: 25vw;
}

.contenido-p,.contenido-n{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    border: 5px solid white;
    padding: 3vh;
    text-align: center;
    font-size: 1.3rem;
}
.carrusel-1,.carrusel-2{
    display: flex;
    flex-direction: column;
}
.contenido-p p{
    font-size: 2rem;
    color: #13b5eb;
}
.contenido-n p{
    font-size: 2rem;
    color: yellow;
}
.estatico {
    display: flex;
    gap: 5vh;
}
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 10%;
    left: calc(50% - 50px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 4deg))
        translateZ(250px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.transparent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.carrusel-3{
    width:60vw;
    overflow: hidden;
}
.carrusel{
    display: flex;
    gap: 3vw;
    animation: scroll 10s linear infinite;
    margin-top: 70vh;
}
.carrusel img{
    width: 10vw;
    height: auto;
    object-fit: cover;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.series p{
    color: #13b5eb;
    text-align: center;
    font-family: "adorable";
    font-size: 4rem;
}
.cuadro-1{
    display: flex;
    justify-content:center;
    gap:2vh
}
.cuadro-1 img{
    display: flex;
    width: 10vw;
}
.inferior{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "parte1 parte2";
}
.cuadro-2{
    grid-area: parte1;
    place-items: center;
}
.cuadro-3{
    grid-area:  parte2;
    place-items: center;
}

.more{
    display: flex;
    justify-content:space-around;
    padding: 5vh;
}
.more img{
    width: 10vw;
}
.final{
    font-family: starwars;
    font-size: 6rem;
    padding-top:1vh;
    padding-left: 5vh;
    color: black;
    text-shadow: 5px 5px 0 yellow;
    text-align: center;
}


.informacion{
    width: 100%;
    height: 100vh;
    background: url(./multimedia/fondo-f.webp)no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.espacial {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}
.fas.fa-bars {
  font-size: 30px;
  color: white;
  display: none;
  cursor: pointer;
}
#toggler {
  display: none;
}
 .navbar {
      display: flex;
      gap: 0;
    }

@media (max-width: 800px) {
  .navbar {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 60vh;
    z-index: 99;
    border-radius: 10px;
  }

  #toggler:checked ~ .navbar {
    display: flex;
  }

  .fas.fa-bars {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .navbar a {
        color: white;
        padding: 0;
        text-decoration: none;
        font-size: 1rem;
      }

    .titulo1{
        width: 100%;
        font-size: 3rem;
        text-align: center;
        padding-top:5vh;
        padding-left: 0vh;
}
.inicio{
    width: 100%;
    height:100vh;
    background-position: center;
}
 .box-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 5vh;
}
.box-container img{
    width: 75%;
    border: 4px solid white;
}
.box{
    border: 0;
}
.buscar{
    margin-left:40%;
    width: 55vw;
    padding: 1.5vh;
}
.contenido-p,.contenido-n{
    justify-content: space-around;
    font-size: 0.8rem;
    margin-top: 2vh;
}
.contenido-p p{
    font-size: 1rem;
}
.contenido-n p{
    font-size: 1rem;
}
.series p{
    font-size: 2rem;
}
.cuadro-2 img, .cuadro-3 img{
    width: 20vw;
}
.cuadro-3,.cuadro-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}
.cuadro-1 img{
    width: 25vw;
}
.final{
    font-size: 2.5rem;
}
.more img{
    width: 15vw;
}
.more{
    padding: 0;
    margin-top: 5vh;
}
.informacion{
    height: 70vh;
}
.planetas{
    justify-content: center;
}
.planetas h2{
    margin-top: 3vh;
}
.carrusel-3 img{
    width: 20vw;
    margin-top: 5vh;
    
}
.carrusel-3{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 70vh;
    padding: 0;
    gap: 2vh;
    
}
}
