*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background:url(./multimedia/video-inicio.gif) no-repeat;
    display: flex;
    flex-direction: column;
    background-size: cover;
}
@font-face {
    font-family:"starwars";
    src: url(./fuentes/SF\ Distant\ Galaxy\ Alternate.ttf)
}
.navegador{
    display:flex;
}
.titulo1{
    font-family: starwars;
    font-size: 6rem;
    width: 40%;
    padding-top:1vh;
    padding-left: 5vh;
    color: black;
    text-shadow: 5px 5px 0 yellow;
}
.navbar a{
    font-size: 1.7rem;
    color: white;
}
.flecha{
    display: flex;
    position: relative;
    align-items: flex-end;
}
.flecha img{
    margin-top: 20%;
    display: flex;
    position: relative;
    width: 20vw;
}

.texto{
    position: absolute;
    color: black;
    margin-bottom: 3.5%;
    margin-left: 7%;
    font-size:1.5rem

}
.navbar{
    display: flex;
    width: 100%;
    height: 20%;
    gap: 5vh;
    margin-top: 5vh;
    margin-left:8vh;
    background-color: black;
    padding: 2vh;
    border-radius:50px;
    border: 2px solid white;
    justify-content: space-around;
}