*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.inicio{
    background:url(./multimedia/video-inicio.gif) no-repeat;
    display: flex;
    flex-direction: column;
    background-size: cover;
}
@font-face {
    font-family:"starwars";
    src: url(./fuentes/SF\ Distant\ Galaxy\ Alternate.ttf)
}
.navegador{
    display:flex;
}
.titulo1{
    font-family: starwars;
    font-size: 6rem;
    width: 40%;
    padding-top:1vh;
    padding-left: 5vh;
    color: black;
    text-shadow: 5px 5px 0 yellow;
}
.navbar a{
    font-size: 1.7rem;
    color: white;
}
.flecha{
    margin-top: 25%;
    margin-left: 5vh;
}
.navbar{
    display: flex;
    width: 100%;
    height: 20%;
    gap: 5vh;
    margin-top: 5vh;
    margin-left:8vh;
    background-color: black;
    padding: 2vh;
    border-radius:50px;
    border: 2px solid white;
    justify-content: space-around;
}
.personajes, .planetas,.juegos{
    width: 100%;
    background: url(./multimedia/fondo-1.png);
    display: flex;
    flex-direction: column;
}
.sub{
    text-align: end;
    padding: 2vh;
    font-family: "starwars";
    color: black;
    text-shadow: 0px 0px 0 yellow;
    font-size:1.5rem ;
}
.buscar{
    margin-left: 69%;
    border-radius: 10px;
    width: 30vw;
    padding: 1.5vh;
}
 .box-container{
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    align-items: center;
    height: 80vh;
}
.box{
    border: 4px solid white;
}
.box img{
    padding: 2vh;
}
/*.personajes .box-container .box .imagen .texto{
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}
.personajes .box-container .box:hover .imagen .texto{
    bottom: 0;
}
.personajes .box-container .box .imagen .texto .span{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
}   REVISAR Y ARREGLAR*/ 
.planetas h2{
    color: black;
    text-shadow: -1px -1px 0 yellow;
    font-size:2rem ;
    font-family: "starwars";
    padding-left: 5vh;
}
.contenido-p img,.contenido-n img{
    width: 25vw;
}

.contenido-p,.contenido-n{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    border: 5px solid white;
    padding: 3vh;
    text-align: center;
    font-size: 1.3rem;
}
.carrusel-1,.carrusel-2{
    display: flex;
    flex-direction: column;
}
.contenido-p p{
    font-size: 2rem;
    color: #13b5eb;
}
.contenido-n p{
    font-size: 2rem;
    color: yellow;
}
.estatico ,.carrusel-3{
    display: flex;
    gap: 5vh;
}
.banner{
    width: 90%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 10%;
    left: calc(50% - 50px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 4deg))
        translateZ(250px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }

}
@media screen and (max-width: 768px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 3deg))
            translateZ(50px);
    }
}
